.header{
    width: 100%;
    height: 70px;
    background-color:lightsteelblue;
    align-items: center;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.headerTitle{
    align-items:center;
    position: relative;
    float: center;
}

.headerDate{
    margin-top:0px;
    margin-right: 0px;
    position: relative;
    float: right;

}